:host {
  grid-column: full-start / full-end;
}

.features {
  position: relative;
  height: 100vh;

  @media only screen and (max-width: 37.5em) {
    height: 190vh;
  }

  &__icons {
    position: absolute;
    padding: 2rem;
    height: 36.6vh;
    width: 58.8vw;
    top: 8rem;
    left: 30vw;
    margin:0 5rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(5vh, 40vh));
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-row-gap: 5rem;

    @media only screen and (max-width: 81.25em) {
      grid-template-columns: repeat(3, minmax(5vh, 30vh));
      justify-content: end;
    }

    @media only screen and (max-width: 75em) {
      grid-template-columns: repeat(3, minmax(5vh, 25vh));

    }

    @media only screen and (max-width: 62.5em) {
      grid-template-columns: repeat(2, minmax(5vh, 25vh));

    }

    @media only screen and (max-width: 50em) {
      grid-template-columns: repeat(2, minmax(5vh, 22vh));

    }

    @media only screen and (max-width: 43.75em) {
      grid-template-columns: repeat(2, minmax(5vh, 20vh));

    }

    @media only screen and (max-width: 37.5em) {
      grid-template-columns: repeat(1, minmax(5vh, 15vh));
    }

    img {
      height: 10.5rem;
      width: 10.5rem;
    }

    &--item {
      height: 14.2rem;
      width: 12.9rem;
      display: flex;
      align-items: center;
      justify-content: center;

    }
  }

  &__img {
    width: 100%;
    height: 100vh;

    @media only screen and (max-width: 37.5em) {
      height: 190vh;
    }
  }

  &__box {
    position: absolute;
    top: 0;
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    );
    background-size: cover;
    height: 100%;
    width: 36.8rem;
    margin-left: 13.7rem;
    box-shadow: 3px 4px  rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;

    @media only screen and (max-width: 50em) {
      margin-left: 0;
      width: 25rem;
    }

    @media only screen and (max-width: 37.5em) {
      height: 190vh;
    }

    &__content {
      position: absolute;

      &--feature {
        display: flex;
        justify-content: center;
      }

      &--title {
        font-family: "Sansita Swashed";
        font-style: normal;
        font-size: 4rem;
        font-weight: 500;
        text-align: center;
        padding-top: 9rem;
        line-height: 4.8rem;
        color: #231f20;

        @media only screen and (max-width: 50em) {
          font-size: 3rem;
          font-weight: 400;
          padding-top: 7rem;
        }
      }
    }
  }
}

.section-text {
  text-align: center;
  font-family: "nunito";
  font-size: 1.4rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #000000;
  margin: 0 10rem;

  @media only screen and (max-width: 50em) {
    font-size: 1rem;
    font-weight: 500;
    margin: 0 6rem;
  }
}


