<div class="features" id="features">
  <img src="../../assets/imgs/airplane_img.png" alt="" class="features__img" />
  <div class="features__grad"></div>
  <div class="features__icons">
    <div class="features__icons--item"><img src="../../assets/icons/passagens.svg" alt="airplane"></div>
    <div class="features__icons--item"><img src="../../assets/icons/translados.svg" alt="map"></div>
    <div class="features__icons--item"><img src="../../assets/icons/hospedagens.svg" alt="bed"></div>
    <div class="features__icons--item"><img src="../../assets/icons/passeios.svg" alt="photo"></div>
    <div class="features__icons--item"><img src="../../assets/icons/aluguel.svg" alt="car"></div>
    <div class="features__icons--item"><img src="../../assets/icons/seguro.svg" alt="human"></div>
  </div>
  <div class="features__box">
    <div class="features__box__content">
      <div class="features__box__content--title">Serviços</div>
      <div class="features__box__content--feature">
      </div>
      <div class="section-text">
        <p>
          O roteiro irá incluir tudo o que você precisa para ter uma experiência única! Oferecemos as melhores passagens, hotéis exclusivos e suporte durante toda viagem; para que você tenha conforto e segurança em todos os momentos.
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
