<div class="form">
  <img src="../../assets/imgs/baloon_img.png" alt="" class="form__img" />
  <div class="form__title">
    Solicitar um Orçamento
  </div>
  <div class="form__content">
    <div class="form__travel">
      <div class="form__box--title special">Algumas Informações sobre o destino/viagem desejados:</div>
      <div class="form__box--info--1">
        <input type="text" class="form__box--text">
        <input type="text" class="form__box--text">
        <input type="text" class="form__box--text">
        <input type="text" class="form__box--text">
        <input type="text" class="form__box--text">
      </div>
    </div>
    <div class="form__personal">
      <div class="form__box--title">Seus dados para que possamos entrar em contato:</div>
      <div class="form__box--info--2">
        <input type="text" class="form__box--text">
        <input type="text" class="form__box--text">
        <input type="text" class="form__box--text">
      </div>
    </div>

  </div>
  <button class="btn">Solicitar Orçamento</button>
</div>
