<div class="container mt-5" *ngIf="accountService.currentUser$ | async">
  <div style="text-align: center">
    <h1>Edite seu website</h1>
    <p class="lead">Selecione um dos botões e vá para a página de edição</p>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-4" routerLink="register">
          Registre um novo destino
        </button>
      </div>
      <br />
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2" routerLink="destinations">
          Edite os seus destinos
        </button>
      </div>
    </div>
    <div class="col-6">
      <div class="text-center">
        <button
          class="btn btn-primary btn-lg mr-2"
          routerLink="promotion/register"
        >
          Registre uma nova promoção
        </button>
      </div>
      <br />
      <div class="text-center">
        <button class="btn btn-primary btn-lg mr-2" routerLink="promotions">
          Edite as promoções
        </button>
      </div>
    </div>
  </div>
</div>
