<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container">
    <nav
      class="container d-flex flex-column flex-md-row justify-content-between"
    >
      <a class="py-2" href="#" aria-label="Product">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          class="d-block mx-auto"
          role="img"
          viewBox="0 0 24 24"
        >
          <title>Product</title>
          <circle cx="12" cy="12" r="10"></circle>
          <path
            d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"
          ></path>
        </svg>
      </a>
      <ng-container *ngIf="accountService.currentUser$ | async">
        <a class="nav-link" routerLink="destinations" routerLinkActive="active"
          >Editar Destinos</a
        >
        <a class="nav-link" routerLink="promotions" routerLinkActive="active"
          >Editar Promoções</a
        >
        <a class="nav-link" routerLink="register" routerLinkActive="active"
          >Registrar destinos</a
        >
        <a class="nav-link" routerLink="promotion/register" routerLinkActive="active"
          >Registrar promoções</a
        >
        <a class="nav-link">Sobre mim</a>
      </ng-container>

      <div
        class="dropdown py-2 d-none d-md-inline-block"
        *ngIf="accountService.currentUser$ | async"
        dropdown
      >
        <a class="dropdown-toggle text" dropdownToggle> Welcome Admin</a>
        <div class="dropdown-menu mt-3" *dropdownMenu="">
          <a class="dropdown-item">Edit Destination</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="" (click)="logout()">Logout</a>
        </div>
      </div>
    </nav>
  </div>
</nav>
