<header class="header">
  <img src="../../assets/imgs/main_img.png" alt="" class="header__img" />
  <div class="header__grad"></div>
  <div class="nav-bar">
    <div class="nav-bar__line"></div>
    <div class="nav-bar__icon--1">

        <img href="#" src="../../assets/icons/Menu_logo.svg">

    </div>
    <ul class="nav-bar__menu">
      <li class="nav-bar__item"><a class="nav-bar__link" href="#promotions">Promoções</a> </li>
      <li class="nav-bar__item"><a class="nav-bar__link" href="#destination">Destinos</a></li>
      <li class="nav-bar__item"><a class="nav-bar__link" href="#features">Serviços</a></li>
      <li class="nav-bar__item"><a class="nav-bar__link" href="#about">Sobre</a></li>
      <li class="nav-bar__item"><a class="nav-bar__link" href="#form">Orçamentos</a></li>
    </ul>
    <div class="nav-bar__contact">
      <div class="nav-bar__icon--2">
        <img src="../../assets/icons/Instagram_menu_logo.svg"></div>
      <div class="nav-bar__icon--3">
        <img src="../../assets/icons/Wpp_menu _logo.svg">
      </div>
    </div>
  </div>
  <div class="main-logo">
    <img src="../../assets/icons/logo_home.svg">
  </div>
</header>
