<form>
  <h4>Fotos</h4>
  <div *ngFor="let photo of destination.destinationPhotos" class="col-4">
  <div class="card">
    <img src="{{photo.url}}" alt="{{photo.name}}"
  class="card-img-top img-thumbnail" style="width: 200px;">
  <div class="card-footer">
    <button [disabled]="photo.isMain"
    (click)="setMainPhoto(destination.name,photo)"
    [ngClass]='photo.isMain ? "btn-success active": "btn-outline-success"' class="btn btn-sm btn-success">Main</button>
    <button [disabled]="photo.isMain"
    (click)="deletePhoto(photo.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
  </div>
</div>

  </div>

</form>
