<div class="about">
  <div class="about__gallery">
    <img src="../../assets/imgs/vivian.png" alt="" class="about__img--1" />
    <img src="../../assets/imgs/couple.png" alt="" class="about__img--2" />
  </div>
  <div class="about__grad"></div>
  <div class="about__box">
    <div class="about__box__content">
      <div class="about__box__content--title">Sobre a Viva <br />Turismo</div>
      <div class="about__box__content--line"></div>
      <div class="about__box__content--center">
        <h2 class="heading">Vivian Cortez</h2>
      </div>
      <div class="about__box__content--about"></div>
      <div class="section-text">
        <p class="text-1">
          Formada em Turismo pela PUC Minas em 2003. Comecei minha experiência
          no turismo na Varig Cia. Aérea em 2001, como emissora de passagens
          aéreas e desde então, atuo na aérea, tendo trabalhado também em uma
          operadora de turismo e intercâmbio. Depois de todas essas
          experiências, encontrei minha paixão em ser agente de viagens!
          <br /><br />A Viva Turismo e Viagens nasceu em XXXX com o objetivo de
          tornar o meu sonho e de todos aqueles que desejam conhecer o mundo em
          realidade.
        </p>
        <br />
      </div>
      <div class="about__box__content--center">
        <h2 class="heading">
          Benefícios de <br />
          viajar com a Viva
        </h2>
      </div>
      <div class="section-text">
        <p class="text-2">
          Com um roteiro personalizado, você tem um planejamento detalhado da
          sua viagem, de acordo com suas preferências e seus interesses.
          <br /><br />
          Você economiza tempo, conhece os melhores lugares, tem as melhores
          experiências e aproveita ao máximo tudo de bom que o destino escolhido
          tem a oferecer. Sem dores de cabeça, sem preocupações e sem
          imprevistos!
        </p>
        <br />
      </div>
      <div class="about__box__content--center">
        <h2 class="heading">Feedbacks</h2>
      </div>
      <div class="section-text">
        <p class="text-3">
          “Viajo todos os anos com a Viva desde 2015 e as viagens foram uma
          melhor que a outra! A Vivian sempre cuida de tudo e programa os
          melhores passeios, tem as melhores dicas de bares, restaurantes e
          lugares para visitar. ” <br /><br />- Fulana de Tal, empresária.
        </p>
        <br />
      </div>
    </div>
  </div>
</div>
