<div class="footer">
  <div class="footer__box">
    <img src="/img/icon_home.png" alt="" class="footer__icon" />
  </div>
  <ul class="contact-list">
    <li class="contact-list_item">tel</li>
    <li class="contact-list_item">inst</li>
    <li class="contact-list_item">email</li>
  </ul>
  <ul class="menu-list">
    <li class="menu-list__item">
      <a href="#" class="menu-list__title">Home</a>
      <ul>
        <li class="menu-list__item">
          <a href="#promotions" class="footer__link">Pacotes</a>
        </li>
      </ul>
    </li>
    <li class="menu-list__item">
      <a href="#destination" class="menu-list__title">Destinos</a>
      <ul>
        <li class="menu-list__item">
          <a href="#" class="footer__link">Tanzânia</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="footer__link">África do Sul</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="footer__link">Zanquitos - Grécia</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="footer__link">Tulum - México</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="footer__link">Maldivas</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="footer__link">Seychelles</a>
        </li>
      </ul>
    </li>
    <li class="menu-list__item">
      <a href="#features" class="menu-list__title">Serviços</a>
    </li>
    <li class="menu-list__item">
      <a href="#" class="menu-list__title">Home</a>
      <ul>
        <li class="menu-list__item">
          <a href="#about" class="footer__link">Vivian Cortez</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="footer__link">Benefícios</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="footer__link">Experiências</a>
        </li>
      </ul>
    </li>
    <li class="menu-list__item">
      <a href="#form" class="menu-list__title">Orçamentos</a>
    </li>
  </ul>
</div>
