<div class="footer">
  <div class="footer__box">
    <a href="#">
      <img
        src="../../assets/icons/footer_icon.png"
        alt=""
        class="footer__icon"
      />
    </a>
  </div>
  <ul class="contact-box">
    <li class="contact-list">
      <img
        class="contact-list__img"
        src="../../assets/icons/Wpp_menu _logo.svg"
      /><a
        class="contact-list__text"
        href="https://www.instagram.com/vivaturismoviagens/"
        target="_blank"
        >(31) 98818-7270</a
      >
    </li>
    <li class="contact-list">
      <img
        class="contact-list__img"
        src="../../assets/icons/Instagram_menu_logo.svg"
      /><a
        class="contact-list__text"
        href="https://wa.me/553188187270"
        target="_blank"
        >@vivaturismoviagens</a
      >
    </li>
    <li class="contact-list">
      <img
        class="contact-list__img"
        src="../../assets/icons/Instagram_menu_logo.svg"
      /><a
        class="contact-list__text"
        href="https://wa.me/553188187270"
        target="_blank"
        >contato@vivaturismoviagens.com.br</a
      >
    </li>
  </ul>
  <ul class="menu-list">
    <li class="menu-list__item">
      <a href="#" class="menu-list__title">Pacotes</a>
      <ul>
        <li class="menu-list__item">
          <a href="#promotions" class="footer__link">Pacotes</a>
        </li>
      </ul>
    </li>
    <li class="menu-list__item">
      <a href="#destination" class="menu-list__title">Destinos</a>
      <ul >
        <li class="menu-list__item" >
          <a href="#" class="footer__link">teste</a>
        </li>
      </ul>
    </li>
    <li class="menu-list__item">
      <a href="#features" class="menu-list__title">Serviços</a>
    </li>
    <li class="menu-list__item">
      <a href="#" class="menu-list__title">Sobre Viva</a>
      <ul>
        <li class="menu-list__item">
          <a href="#about" class="footer__link">Vivian Cortez</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="footer__link">Benefícios</a>
        </li>
        <li class="menu-list__item">
          <a href="#" class="footer__link">Experiências</a>
        </li>
      </ul>
    </li>
    <li class="menu-list__item">
      <a href="#form" class="menu-list__title">Orçamentos</a>
    </li>
  </ul>
</div>
